<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Datos generales del SLIP</legend>
      <div class='row'>
        <div class='col-sm-4'>
          <div class='form-group'>
            <label for="creado-por">Creado por</label>
            <div class="zona-usuario">
              <label class="usuario-actual">{{nombreUsuario}}</label>
            </div>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group'>
            <label for="fecha-creacion">Fecha de creación</label>
            <input formControlName="fechaSolicitud" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fechaSolicitud.errors }"
              bsDatepicker disabled>
            <div *ngIf="submitted && f.fechaSolicitud.errors" class="invalid-feedback">
              <div *ngIf="f.fechaSolicitud.errors.required">La fecha de solicitud es requerida</div>
            </div>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class='form-group'>
            <label for="fecha-renovacion">Fecha de renovación</label>
            <input formControlName="fechaRenovacion" type="text" placeholder="Fecha de renovación" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.fechaRenovacion.errors }" bsDatepicker>
            <div *ngIf="submitted && f.fechaRenovacion.errors" class="invalid-feedback">
              <div *ngIf="f.fechaRenovacion.errors.required">La fecha de renovación es requerida</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="cliente">Cliente</label>
            <input formControlName="cliente" type="text" placeholder="Escriba el DNI del cliente" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cliente.errors }" />
            <div *ngIf="submitted && f.cliente.errors" class="invalid-feedback">
              <div *ngIf="f.cliente.errors.required">El cliente es requerido</div>
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <button type="button" (click)="buscarCliente(template)" class="buscar-cliente btn btn-primary">Buscar cliente</button>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="datos-clientes form-group">
            <div class="cliente-nombre">
              Nombre del cliente: 
              <span>
                {{nombreCliente}}
              </span>
            </div>
            <div class="cliente-dni">
              DNI del cliente: 
              <span>
                {{dniCliente}}
              </span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label for="tipo-negocio">Tipo de negocio</label>
            <select formControlName="ddltipoNegocio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ddltipoNegocio.errors }"
              (change)="mostrarEstados($event.target.value);">
              <option *ngFor="let tipoNegocio of tiposNegocio" [value]="tipoNegocio.id" [text]="tipoNegocio.title">
                {{tipoNegocio.title}}
              </option>
            </select>
            <div *ngIf="submitted && f.ddltipoNegocio.errors" class="invalid-feedback">
              <div *ngIf="f.ddltipoNegocio.errors.required">Debe seleccionar un tipo de negocio</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div id="zonaEstado" [hidden]="!mostrarDivEstado" class="form-group">
            <label for="estado">Estado</label>
            <div class="checkbox" *ngFor="let estado of estados">
              <label><input name="grupoEstados" type="checkbox" value="{{estado.id}}">{{estado.title}}</label>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="tipo-negocio">Tipo de Slip</label>
            <select formControlName="tipoSlip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tipoSlip.errors }"
              (change)="HabilitarMultiplesSlips($event.target.value);">
              <option value="Simple" text="Simple" selected>Simple</option>
              <option value="Múltiple" text="Múltiple">Múltiple</option>
            </select>
            <div *ngIf="submitted && f.tipoSlip.errors" class="invalid-feedback">
              <div *ngIf="f.tipoSlip.errors.required">Debe seleccionar un tipo de Slip</div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="tipo-gestion">Tipo de Gestión</label>
            <select formControlName="tipoGestion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tipoGestion.errors }">
              <option *ngFor="let tipoGestion of tiposGestion" [value]="tipoGestion.id" [text]="tipoGestion.title">
                {{tipoGestion.title}}
              </option>
            </select>
            <div *ngIf="submitted && f.tipoGestion.errors" class="invalid-feedback">
              <div *ngIf="f.tipoGestion.errors.required">Debe seleccionar un tipo de Gestión</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="responsable">Responsable</label>
            <input formControlName="responsable" type="text" placeholder="Responsable" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.responsable.errors }" />
            <div *ngIf="submitted && f.responsable.errors" class="invalid-feedback">
              <div *ngIf="f.responsable.errors.required">El responsable es requerido</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input formControlName="correo" type="text" placeholder="Correo electrónico" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
            <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
              <div *ngIf="f.correo.errors.required">El correo electrónico es requerido</div>
              <div *ngIf="f.correo.errors.email">Debe escribir un correo válido</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="tipo-responsable">Tipo de responsable</label>
            <select formControlName="tipoResponsable" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tipoResponsable.errors }">
              <option *ngFor="let tipoResponsable of tiposResponsable" [value]="tipoResponsable.id" [text]="tipoResponsable.title">
                {{tipoResponsable.title}}
              </option>
            </select>
            <div *ngIf="submitted && f.tipoResponsable.errors" class="invalid-feedback">
              <div *ngIf="f.tipoResponsable.errors.required">Debe seleccionar un tipo de responsable</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="tipo-responsable">Adjuntar SLIP</label>
            <input class="form-control" type="file">
          </div>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Enviar Slip</button>
        </div>
      </div>
    </div>
  </form>
</div>

  <!-- Modal -->
  <ng-template #template>
      <div class="modal-header">
          <h4 class="modal-title pull-left">{{tituloModal}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          {{mensajeModal}}
      </div>
  </ng-template>

    