<header>
  <div class="col-md-2">
      <a class="navbar-brand" rel="home" href="#">
          <img class="logo-sura" src="#" alt="logo-sura" />
      </a>
  </div>
  <div class="col-md-10">
    <h3>SURA SLIPS</h3>
  </div>
</header>

<section>
  <nav>
    <ul>
        <li><a class="link-menu" routerLink="/mis-solicitudes" routerLinkActive="active">Mis solicitudes</a></li>
        <li><a class="link-menu" routerLink="/crear-solicitud" routerLinkActive="active">Crear solicitud</a></li>
        <li><a class="link-menu" routerLink="/editar-solicitud" routerLinkActive="active">Editar solicitud</a></li>
        <li><a class="link-menu" routerLink="/descargar-plantillas" routerLinkActive="active">Descargar plantillas</a></li>
    </ul>
  </nav>
  
  <article>
    <router-outlet></router-outlet>
  </article>
</section>

<footer>
  <p>Footer</p>
</footer>


