<table datatable id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha de solicitud</th>
      <th scope="col">Días Transcurridos</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Luis Alejandro Soto Bedoya</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>Abierta</td>
    </tr>
    <tr>
      <th scope="row">David Álvarez</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>Cerrada</td>
    </tr>
    <tr>
      <th scope="row">Juan Esteban Valencia</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>Abierta</td>
    </tr>
    <tr>
      <th scope="row">Eduardo Luis Perea Monsalve</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>Abierta</td>
    </tr>
    <tr>
      <th scope="row">Gladis Bedoya Valencia</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>Cerrada</td>
    </tr>
    <tr>
      <th scope="row">Wilson Montoya Lopez</th>
      <td>10/08/2018</td>
      <td>4</td>
      <td>En Trámite</td>
    </tr>
  </tbody>
</table>