<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por cualquier palabra">
</mat-form-field>


<mat-toolbar color="primary" [hidden]="!empty">No hay slips para este usuario</mat-toolbar> 

<div class="mat-elevation-z8" [hidden]="empty">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="nombreCliente">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCliente}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fechaCreacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de creación </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fechaRenovacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Renovación </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaRenovacion | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="diasTranscurridos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Días transcurridos </th>
      <td mat-cell *matCellDef="let element"> {{element.diasTranscurridos}} </td>
    </ng-container>
  
    <ng-container matColumnDef="tipoNegocio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de negocio </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoNegocio}} </td>
    </ng-container>
  
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
  
    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef> Menú Acciones </th>
      <td mat-cell *matCellDef="let element">
          <button class="btn btn primary" mat-button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="abrirDocumentoSlip(element)">Editar documento Slip</button>
            <button mat-menu-item (click)="editarPropiedadesSlip(element)">Editar propiedades Slip</button>
            <button mat-menu-item (click)="obtenerVersiones(element)">Ver histórico</button>
            <button mat-menu-item (click)="EnvioCliente(element)">Enviar al cliente</button>
            <button mat-menu-item (click)="ReasignarSlip(element)">Reasignar Slip</button>
            <button mat-menu-item>Cerrar slip</button>
        </mat-menu>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>
</div>


