<h2 mat-dialog-title>Enviar SLIP al cliente</h2>
<hr>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-title class="colorTituloCard">Destinatarios</mat-card-title>
                <mat-list role="list">
                    <mat-list-item role="listitem">{{ObjSlip.correo1}}</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="ObjSlip.correo2 != ''">{{ObjSlip.correo2}}</mat-list-item>
                    <mat-list-item role="listitem" *ngIf="ObjSlip.correo2 != ''">{{ObjSlip.correo3}}</mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alertas" [hidden]="hiddenSuccess">
                <alert type="success">
                    <strong>El SLIP se ha enviado correctamente</strong>
                </alert>
            </div>
            <div class="alertas" [hidden]="hiddenError">
                <alert type="danger">
                    <strong>Ha ocurrido un error, inténtelo más tarde o comuníquese con el administrador</strong>
                </alert>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="botonera-envio-cliente">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button (click)="EnviarSLIP()" cdkFocusInitial>Enviar SLIP</button>
</div>